@import "colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn1 {
  height: 48px;
  width: 100%;
  font-family: $font-Vazir;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-radius: 6px;
  background-color: $blue-color;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: $blue-d-color;
  }
}

.btn {
  width: 185px;
  height: 48px;
  padding: 0 16px;
  vertical-align: middle;
  font-family: $font-Vazir;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: $green-color;
  outline: 0;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: $green-d-color;
  }
}

.d-flex{
  display: flex;
}

.d-felx-col {
  display: flex;
  flex-direction: column;
}

.pt-20 {
  padding-top: 20px;
}
