@import "fonts";
@import "basic";
@import "colors";
@import "grid";

// ========================== Start Write Css Styles ========================== //
// -------- top--body --------
.top--body {
  height: 75vh;
  background-color: #f0f2f5;

  .container {
    height: 100%;

    .row {
      //row
      .top--body__left {
        text-align: left;
        padding-top: 13rem;

        .top--body__logo {
          margin: -28px;
          line-height: 16px;
          display: inline;
        }
        .top--body__subttl {
          font-family: $font-sf-regular;
          line-height: 32px;
          font-size: 29px;
          font-weight: normal;
          width: 490px;
          padding-bottom: 20px;
          padding-top: 18px;
          //   background-color: pink;
        }
      } //body left

      .top--body__right {
        padding-top: 9rem;
        width: 350px;

        .main-form {
          background-color: white;
          padding: 1rem;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);

          .input {
            // padding: 6px;
            padding: 12px 14px;
            border: 1px solid #dddfe2;
            border-radius: 6px;
            .inp--text {
              width: 330px;
              height: 22px;
              border: none;
              outline: none;
              font-size: 17px;
            }
          }
          .pass {
            margin: 1.5rem 0;
          }
        }
      }
    } // row
  }
}
