@import "fonts";
@import "basic";
@import "colors";
@import "grid";

// ========================== Start Write Css Styles ========================== //
// -------- top--body --------
.top--body {
  height: 75vh;
  background-color: #f0f2f5;

  .container {
    height: 100%;

    .row {
      //row
      .top--body__left {
        text-align: left;
        padding-top: 13rem;

        .top--body__logo {
          margin: -28px;
          line-height: 16px;
          display: inline;
        }
        .top--body__subttl {
          font-family: $font-sf-regular;
          line-height: 32px;
          font-size: 29px;
          font-weight: normal;
          width: 490px;
          padding-bottom: 20px;
          padding-top: 18px;
          //   background-color: pink;
        }
      } //body left

      .top--body__right {
        padding-top: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main-form {
          width: 390px;
          background-color: white;
          padding: 1rem;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);

          .input {
            padding: 14px 16px;
            border: 1px solid #dddfe2;
            border-radius: 6px;

            .inp--text {
              width: 330px;
              height: 22px;
              border: none;
              outline: none;
              font-size: 17px;
            }
          }
          .pass {
            margin: 1rem 0;
          }
          .fm-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .ftext {
            display: flex;
            justify-content: center;
            align-items: center;
            .forgot--text {
              line-height: 18px;
              font-family: $font-Vazir;
              font-size: 14px;
              font-weight: normal;
              color: $blue-color;
              margin-top: 16px;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .line {
            margin: 20px 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #dddfe2;
          }
        }

        .celeb {
          font-family: $font-sf-regular;
          color: $dark-color;
          font-size: 15px;
          font-weight: normal;
          margin-top: 2rem;
          .celeb--link {
            font-family: $font-sf-Bold;
            color: $dark-color;
            font-size: 15px;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    } // row
  }
}

// -------- Bottom--body --------

.bottom--body__head {
  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddfe2;

  .body--lang__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .lang--list__items {
      padding-right: 10px;
      font-family: $font-Vazir;
      color: $gray-color;
      font-size: 12px;

      .lang--list__link {
        font-family: $font-Vazir;
        color: $gray-color;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
        }
      }

      .lang--list__btn {
        width: 12px;
        height: 18px;
        line-height: 18px;
        padding: 0 8px;
        font-size: 25px;
        font-weight: 400;
        color: black;
        font-family: $font-Vazir;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        border-radius: 2px;
        background-color: #f5f6f7;
        outline: none;
        border: 1px solid #ccd0d5;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: #ebedf0;
        }
      }
    }
  }
}
